@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
html {
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--Light-gray);
    width: 100vw;
    height: 100vh;
    
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 500px;
    background-color: var(--White);
    margin: auto;
    border-radius: 10px;
}

.card-container--img {
    margin: 20px auto;
}

.card-container--img img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    
}



.title {
    font-size: 2.2rem;
    color: var(--Dark-blue);
    text-align: center;
    font-weight: 700;
    line-height: 2.8rem;
    margin: 0 20px;
    
}

.subtitle {
    color: var(--Grayish-blue);
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 30px;
    font-weight: 400;
}

.credits {
    text-align: center;
    color: var(--Grayish-blue);
    font-size: 1.5rem;
    margin-bottom: 10px;
    
}

.credits a {
    text-decoration: none;
    color: var(--Dark-blue);

}

.credits a:hover {
    color: coral;
}

